*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* 
.hamburger{
    margin-left: 30px;
    display: none;
}
.hamburger div {
    width: 25px;
    height: 5px;
    background-color: #fff;
    margin: 5px;
}

@media screen and (max-width:1824px){
    .navigation a {
       width: 40%;
    }
}

@media screen and (max-width:768px){
    .navigation a {
        position: absolute;
        right: 0px;
        height: 90vh;
        top: 10vh;
        background-color: black;
        flex-direction: column;
        align-items: center;
    }
} */
.images {
    margin-top: 2rem;
}
.responsive {
    width: 100%;
    height: auto;
}
.menu {
    padding: 2rem;
    border-radius: 30px;
    margin-top: 2rem;
    margin-bottom: 2rem;
    background-color: bisque;
}
.menu h1{
    text-align: center;
}
.size {
    margin-bottom: 2rem;
}
.size select{
    width: 30rem;
    background-color: crimson;
    padding: 15px;
}
.size select option{
    background: rgba(33, 33, 33, 1);
    color: #fff;
    font-size: 15px;
    font-weight: 20px;
}
.type {
    margin-bottom: 2rem;
}
.type select{
    width: 30rem;
    background-color: crimson;
    padding: 15px;
}
.type select option {
    background: rgba(33, 33, 33, 1);
    color: #fff;
    font-size: 15px;
    font-weight: 20px;
}
.variety{
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.variety select{
    width: 30rem;
    background-color: crimson;
    padding: 15px;
}
.variety select option {
    background: rgba(33, 33, 33, 1);
    color: #fff;
    font-size: 15px;
    font-weight: 20px;
}
.button{
    margin: 1rem;
}
.button input{
    padding: 10px;
    border-radius: 10px;
    color: #fff;
    background-color: crimson;
    border: transparent;
}
.button input:hover{
    background-color: transparent;
    border: 3px solid crimson;
    color: crimson;
}